In [2]:
import pandas as pd
df=pd.DataFrame({
    'Food_Name':['pizza','paneer','dhokla','bhindi','aalufry','rasgulla','gulabjamun','noodles','pasta','karela','mango','momos'],
    'price':[20,30,40,50,70,10,80,100,90,30,150,200],
    'place':["jpr","ajmer","alwar",'jodhpur',"jpr","ajmer","alwar","jodhpur","jpr","ajmer","alwar","jodhpur"],
    'colour':['yellow','white','yellow','blue','black','white','red','green','black','orange','yellow','white'],
    "Cuisine":['japanese','chines','turkish','thai','spanish','indian','morocan','italian','mexican','french','indonesian','indian'],
    'Taste':['spicy','salty','spongy','bitter','crunchy','crispy','spicy','salty','yummm','bitter','crunchy','crispy'],
    'Rating':[5,2,3,4,1,5,2,4,1,3,4,3]
})
df

costly_food_price=df['price'].max()
cheap=df['price'].min()

In [127]:
#costlier food

df.loc[df['price']==costly_food_price,'Food_Name']

11    momos
Name: Food_Name, dtype: object

In [4]:
#cheapest food

df.loc[df['price']==cheap,'Food_Name']

5    rasgulla
Name: Food_Name, dtype: object

In [6]:
#black food found in jaipur(jpr)

df[(df['place']=='jpr') &  (df['colour']=='black') ]

  Food_Name  price place colour  Cuisine    Taste
4   aalufry     70   jpr  black  spanish  crunchy
8     pasta     90   jpr  black  mexican   spongy

In [67]:
#counts for different tastes for food

df["Taste"].value_counts()

crunchy    2
crispy     2
bitter     2
spongy     2
spicy      2
salty      2
Name: Taste, dtype: int64

In [130]:
#food which is available in jaipur and spicy

df[(df['place']=='jpr') & (df['Taste']=='spicy')]

  Food_Name  price place  colour Cuisine  Taste  Rating
0     pizza     20   jpr  yellow  indian  spicy       5

In [25]:
#most popular cuisine

p=df.loc[df['Rating']==cp,'Cuisine']
p

0    japanese
5      indian
Name: Cuisine, dtype: object